<?xml version='1.0'?>

<model>
  <name>Hinged door Ticket</name>
  <version>0.1.0</version>
  <sdf version='1.5'>hinged_door_ticket.sdf</sdf>
  <author>
    <name>Christina Gomez</name>
    <email>cgomez@swri.org</email>
  </author>
  <description>
    A hinged door with two handles
  </description>
</model>
